.año{   
    font-size:40px;
    font-weight: bold;
}

.mes{   
    font-size:30px;
}

.edit{
    color: grey;
}
.mensajeError{
    color: red;
}
.añoEdicion{
    font-size:60px;
    font-weight: bold;
    color:mediumblue
}